<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EAP8021X.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EAPOLController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EAPOLMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>eapolcfg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>eapolcfg_auth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>eapolclient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>eapoltest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F90FEE450CA3338A00A7B5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90FEE640CA3342D00A7B5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F915472A0CD78FA7008D9897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91F7BBA0C8F873D000EA394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92D8E9D1241873400993F02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92EC86A11358ED000517A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F952CB570D5A72CE00ED1EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F96044A410D1CA78000D803D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9B0E0190C95BC8500323767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9B7FB500C95C9D900BBD057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C62A8F0CA3307200E0B011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9D5E2190C9611CF004C0066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9FE9CA20C95B4B00004CCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
